@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

body {background-color: #212b57;position: relative;}

#contact {
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.backdrop{
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height:100vh;
    height:100%;
}
.contact-box {
    width: clamp(100px, 95%, 80%);
    margin: 3% auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.contact-links{ width: 100%; padding: 1%; }
.contact-form-wrapper { width: 100%; padding: 2%; }

.contact-links {
    background-color: #1f2e43;
    background:
        radial-gradient(circle at 55% 92%, #426691 0 12%, transparent 12.2%), 
        radial-gradient(circle at 94% 72%, #426691 0 10%, transparent 10.2% ), 
        radial-gradient(circle at 20% max(78%, 350px), #263a53 0 7%, transparent 7.2%), 
        radial-gradient(circle at 0% 0%, #263a53 0 40%, transparent 40.2%), 
        #1f2e43;
    border-radius: 10px 10px 0 0;
}
/*.contact-links label{color:#FFF;}*/
.contact-form-wrapper {
    background-color: #ffffff;
    border-radius: 0 0 10px 10px;
}

div .h2 {
    font-family: 'Arimo', sans-serif;
    color: #fff;
    font-size: clamp(20px, 6vw, 25px);
    letter-spacing: 2px;
    transform: scale(.95, 1);
    margin:10px 10px !important;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}

.link {
  margin: 10px;
  cursor: pointer;
}


.submit-btn {
  background-color: #fd917e;
  filter: drop-shadow(2px 2px 3px #0003);
  color: #fff;
  font-family: "Poppins",sans-serif;
  font-size: clamp(16px, 1.6vw, 18px);
  display: block;
  padding: 12px 20px;
  margin: 2px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
}

.submit-btn:hover {
  transform: scale(1.1, 1.1);
}

.submit-btn:active {
  transform: scale(1.1, 1.1);
  filter: sepia(0.5);
}

@media only screen and (max-width: 800px) {
  .contact-links, .contact-form-wrapper {
    width: 100%;
  }
  
  .contact-links {
    border-radius: 10px 10px 0 0;
  }
  
  .contact-form-wrapper {
    border-radius: 0 0 10px 10px;
  }
}

@media only screen and (max-width: 400px) {
  .contact-box {
    width: 95%;
    margin: 8% 5%;
  }
}

@media only screen and (max-width: 800px) {
  div .h2 {
    font-size: clamp(40px, 10vw, 60px);
  }
}

@media only screen and (max-width: 400px) {
  div .h2 {
    font-size: clamp(30px, 12vw, 60px);
  }
  
  .links {
    padding-top: 30px;
  }
}

/*************** NEW STYLE ********/
.rating {
  margin-top: 40px;
  border: none;
  float: left;
}

.rating > label {
  color: #90A0A3;
  float: right;
}

.rating > label:before {
  margin: 5px;
  font-size: 2em;
  font-family: FontAwesome;
  content: "\f005";
  display: inline-block;
}

.rating > input {
  display: none;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #F79426;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #FECE31;
}