@import url(https://fonts.googleapis.com/css?family=Dancing+Script|Roboto);
body {
  background: #c8f7ce;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin:0 auto;
  position:relative;
}
.section {
    position:relative;
    bottom:10%;
  width: 100vw;
  height:80vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ctn {
  width: 360px;
  height: 360px;
  position: absolute;
}

@media (min-height: 720px) and (min-width: 720px) {
  .ctn {transform: scale(2);}
}

.ctn div {
  position: absolute;
}

.shadow {
  top: 285px;
  left: 80px;
  width: 200px;
  height: 50px;
  border-radius: 50%;
  background-color: #1a1a1a;
  opacity: 0.3;
  filter: blur(2px);
}

@keyframes move-body {
  1% {
    transform-origin: 140px 230px;
  }

  25% {
    transform-origin: 140px 230px;
    transform: rotate(-30deg);
  }

  50% {
    transform-origin: 140px 230px;
    transform: rotate(0deg);
  }

  51% {
    transform-origin: 220px 230px;
  }

  75% {
    transform-origin: 220px 230px;
    transform: rotate(30deg);
  }

  100% {
    transform-origin: 220px 230px;
    transform: rotate(0deg);
  }
}

.panda {
  width: 360px;
  height: 360px;
  animation: 4s move-body ease-in-out infinite;
}

.body {
  top: 110px;
  left: 90px;
  width: 180px;
  height: 170px;
  border-radius: 45%;
  background-color: #ffffff;
  overflow: hidden;
}

.stripe {
  top: 25px;
  left: -10px;
  width: 200px;
  height: 90px;
  border-radius: 0% 0% 50% 50%;
  background-color: #1a1a1a;
  z-index: 1;
}

.stripe:before {
  content: "";
  position: absolute;
  top: -45px;
  left: 0px;
  width: 200px;
  height: 50px;
  border-radius: 0% 0% 40% 40%;
  background-color: #ffffff;
  z-index: 1;
}

.leg {
  top: 230px;
  left: 110px;
  width: 60px;
  height: 80px;
  border-radius: 0 0 20px 20px;
  background-color: #1a1a1a;
}

@keyframes move-left-leg {
  25% {
    transform: rotate(30deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.left-leg {
  transform-origin: top center;
  animation: 4s move-left-leg ease-in-out infinite;
}

@keyframes move-right-leg {
  25% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-30deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.right-leg {
  top: 230px;
  left: 190px;
  width: 60px;
  height: 80px;
  border-radius: 0 0 20px 20px;
  background-color: #1a1a1a;
  transform-origin: top center;
  animation: 4s move-right-leg ease-in-out infinite;
}

.arm {
  width: 40px;
  height: 100px;
  border-radius: 20px;
  background-color: #1a1a1a;
  transform-origin: center 20px;
}

@keyframes left-wave {
  20% {
    transform: rotate(150deg);
  }

  30% {
    transform: rotate(110deg);
  }

  40% {
    transform: rotate(150deg);
  }

  50% {
    transform: rotate(110deg);
  }

  70% {
    transform: rotate(40deg);
  }

  100% {
    transform: rotate(40deg);
  }
}

.left-arm {
  top: 135px;
  left: 90px;
  transform: rotate(40deg);
  animation: 4s left-wave 2s ease-in-out infinite;
}

@keyframes right-wave {
  20% {
    transform: rotate(-150deg);
  }

  30% {
    transform: rotate(-110deg);
  }

  40% {
    transform: rotate(-150deg);
  }

  50% {
    transform: rotate(-110deg);
  }

  70% {
    transform: rotate(-40deg);
  }

  100% {
    transform: rotate(-40deg);
  }
}

.right-arm {
  top: 135px;
  left: 230px;
  transform: rotate(-40deg);
  animation: 4s right-wave ease-in-out infinite;
}

.head {
  top: 60px;
  left: 120px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #ffffff;
}

.face {
  z-index: 1;
}

.eye {
  top: 20px;
  left: 20px;
  width: 24px;
  height: 35px;
  border-radius: 12px;
  background-color: #1a1a1a;
  transform-origin: center;
  transform: rotate(35deg);
}

.pupil {
  top: 5px;
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 4px solid #ffffff;
  background-color: #1a1a1a;
}

.right-eye {
  left: 77px;
  transform: rotate(-35deg);
}

.ear {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #1a1a1a;
  z-index: -1;
}

.ear:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 90px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #1a1a1a;
  z-index: -1;
}

.nose {
  top: 40px;
  left: 54px;
  width: 12px;
  height: 8px;
  border-radius: 45%;
  background-color: #1a1a1a;
}

.mouth {
  top: 55px;
  left: 48px;
  width: 16px;
  height: 6px;
  border: 4px solid #1a1a1a;
  border-radius: 6px 6px 20px 20px;
  background-color: #ff8080;
}
.panda_thanks {
	position:absolute;
	top:12%;
	left:25%;
	font-size:2rem;
	text-align:center;
	color: #FFFFFF;
	font-weight:bold;
	font-family: 'Dancing Script', cursive;
	line-height: 2.3rem;
}
.visit {
	position:absolute;
	bottom:10%;
	left:30%;
	font-size:2rem;
	text-align:center;
	color: #027411;
	font-weight:bold;
	font-family: 'Dancing Script', cursive;
	
}